body {
  background-color: #EDEDED;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  border-collapse: collapse;
  height: 5vw;
  width: 101%;
  font-family:Georgia;
  font-size:4vw;
  font-weight:bold;
  color: #000000;
  text-shadow:
    -1px -1px 0 #555,
    1px -1px 0 #555,
    -1px 1px 0 #555,
    1px 1px 0 #555;
  text-align: center;
  padding: 0 0 0 -10px;
  margin: -10px 0 0 -10px;
  background-color:#DFDFDF;
}

h2 {
  font-size: 35px;
  padding: 10px 0 0 0;
  margin: 0;
  color: #000000;
  text-shadow:
    -1px -1px 0 #444,
    1px -1px 0 #444,
    -1px 1px 0 #444,
    1px 1px 0 #444;
}

h3 {
  border-collapse: collapse;
  font-family:Georgia;
  font-size:1vw;
  font-weight:bold;
  color: #000000;
  height: 2vw;
  margin-bottom: 0;
  margin-top: 0;
  width: 101%;
  padding: 0;
  padding-left: -10px;
  margin-left: -10px;
  background-color:#DFDFDF;
  text-align: center;
}

hr.titleRule {
  margin: 0;
  padding: 0;
  padding-left: -10px;
  margin-left: -10px;
  size: 2000px;
  border: 0;
  border-top: 1px solid #93260F;
  width: 101%;
}

.navigation {
  float:left;
  width: 100.9%;
  margin: 0;
  padding-left: -10px;
  margin-left: -10px;
  overflow: hidden;
  background-color: #BCBCBC;
  border: 1px solid black;
  text-shadow:
    -1px -1px 0 #777,
    1px -1px 0 #777,
    -1px 1px 0 #777,
    1px 1px 0 #777;
}

.navigation a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 10px 6vw;
  text-decoration: none;
  font-size: 1.46vw;
}

.navigation a:hover {
  background-color: #A1A1A1;
  color: black;
}

.navigation a.active {
  background-color: #A1A1A1;
  color: white;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.button1 {
  width: 11.49%;
}

.button2 {
  width: 17%;
}

button:hover {
  opacity: 0.8;
}

a.disabled {
  pointer-events: none;
  cursor: default;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  width: 75%;
  padding: 10px;
  text-align: left;
}

.emp {
  width: 25%;
}

table tr:nth-child(even) {
  background-color: #ccc;
}

table tr:nth-child(odd) {
  background-color: #fff;
}

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
